/***** Variables *****/
/* line 20, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.page-intro {
  padding: 25px 50px 25px 45px; }
  /* line 22, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
  .page-intro .tsearch {
    border: solid #e1e1e1 1px;
    border-radius: 6px; }

/* line 27, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.titlebar {
  left: 0px;
  border-bottom: 2px #6790f0 solid; }
  /* line 31, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
  .titlebar .tlinks a {
    font-size: 25px; }
    /* line 33, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
    .titlebar .tlinks a img {
      margin: 0 -20px 0 10px;
      width: 100%;
      border-radius: 0px; }

/* line 43, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.page-container {
  height: 100%;
  padding: 40px 0 0 0px; }
  /* line 46, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
  .page-container .page-inner {
    top: 0px !important; }

/* line 50, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.app-form {
  margin: 0px auto 0; }

/* line 53, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.btn.dred.filled {
  float: right;
  color: #fff;
  background: #f22f46;
  margin: 5px; }
  /* line 58, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
  .btn.dred.filled:hover {
    background: #e00e27;
    border-color: #e00e27; }

/* line 63, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.mlist-app h4 {
  margin: 15px 0 0; }

/* line 67, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.sw-body {
  position: relative;
  padding: 20% 0 0;
  min-height: 50px;
  margin: 20px 0 15px; }

/* line 73, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.sw-wrap {
  padding: 5px 2%; }

/* line 79, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.drop-box {
  height: 100%;
  border: none; }

/* line 98, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */

/* line 104, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */




/* line 127, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.amount, .amountWord {
  display: inline; }

/* line 130, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.amountWord {
  float: right; }

/* line 134, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.amountFigure {
  text-align: right; }

/* line 142, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.ecell .correctionCheckbox {
  padding: 0px 30px; }

/* line 145, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.ecell .fgrey {
  display: none; }

/* line 148, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.ecell .tfip.clearfix {
  float: right;
  padding-top: 2%; }
  /* line 151, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
  .ecell .tfip.clearfix .form-control {
    display: block;
    width: 100%;
    height: 20px;
    padding: 1px 2px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color cubic-bezier(0.59, 0.44, 0, 0.85) 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

/* line 170, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.ecell input[type=text], .ecell input[type=date] {
  width: 100%;
  outline: none;
  background: #f9f9f9;
  border: none;
  border-bottom: solid 1px #333; }

/* line 179, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.ui-checkbox {
  display: none; }

/* line 183, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.ui-checkbox + label {
  position: relative;
  padding-left: 25px;
  display: inline-block;
  font-size: 12px; }

/* line 190, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.ui-checkbox + label:before {
  background-color: #fff;
  border: 1px solid #6790f0;
  padding: 9px;
  border-radius: 3px;
  display: block;
  position: absolute;
  top: -10PX;
  left: 0;
  content: ""; }

/* line 201, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.ui-checkbox:checked + label:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: -10px;
  left: 4px;
  color: #6790f0;
  line-height: 1.75; }

/* line 211, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.loader {
  display: none;
  opacity: 0.8;
  background-color: #ccc;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000; }
  /* line 221, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
  .loader img {
    display: block;
    margin: 20px auto;
    position: relative;
    top: 45%; }

/* line 228, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.etable .erow.head p {
  font-size: 10px; }

/* line 231, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.app-demo .ptable.col2 .erow .ecell {
  width: 33% !important; }

/* line 234, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.asst-block {
  position: relative !important; }

/* line 239, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
  margin: 7%; }

@media (max-width: 1866px) {
  /* line 244, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
  .asst-block .asst-widget.fix {
    width: 100%; } }


  /* line 250, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
  .etable.mlist .ecell.name {
    width: 17%; }
  /* line 253, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
  .etable.mlist .ecell.zones {
    width: 20%;
    overflow: hidden; }
  /* line 256, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
  .etable.mlist .ecell.correction {
    width: 9%; }
  /* line 259, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
  .etable.mlist .ecell.rejection {
    width: 8% !important; }
  /* line 262, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
  .etable.mlist .ecell.score {
    width: 9% !important; }
  /* line 265, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
  .etable.mlist .ecell {
    width: 12%; } 

/* line 270, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
#frontgrey {
  display: none; }

/* line 273, C:/arya/Cheque View Latest/Axis Cheque/css/axis.scss */
.fright.form-control {
  width: 20%; }
.ecell.scol.rejection span {
    word-break: break-word;
  }

  .etable p {
    margin:3px 0px!important;
  }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*# sourceMappingURL=axis.css.map */
/*.chequeimg p{
  background-repeat: no-repeat; }*/

    /*.date{background-position: 1130px 20px; width:470px; height: 130px;}

    .amountfigure{background-position: 1150px 260px; width:350px; height: 80px;}
    .amountword{background-position: 100px 220px; width:1100px; height: 130px;}

    .cnum{background-position: 300px 620px; width:246px; height: 70px;}
    .fbw.sortcode{background-position: 546px 620px; width:369px; height: 70px;}
    .san{background-position: 915px 620px; width:246px; height: 70px;}
    .trcode{background-position: 1161px 620px; width:82px; height: 70px;}

    .accno{background-position: 80px 350px; width:470px; height: 80px;}*/
    /*.fbw.sign{background-position: 1130px 20px; width:470px; height: 130px;}*/
    
